* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding: 25px;
}

h1 {
    font-size: 33px;
    padding: 16px;

}

.input1 {
    width: 48vw;
    margin: 25px;
    padding: 16px;
    font-size: 16px;
    flex: 2;
    outline: rgb(241, 4, 4);
    
}

.input, .input1 {
    align-items: center;
    justify-content: space-around;
    
}

.input {
    font-size: 16px;
    color: rgb(6, 206, 6);
    margin-left: 35px;
   
}

.submit-btn {
    width: 90%;
    background: rgb(5, 154, 0);
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: bold;
    padding: 15px;
    margin: auto;
    border-radius: 15px;
    border: none;
}

p {
   margin-top: 10px; 

}

.tax {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    padding: 18px;
    font-size: 18px;
    border: 1px solid;
    /* background: rgb(253, 4, 46); */
    color: rgb(14, 13, 13);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.result {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    font-size: 19px;
    height: 30vh;
}

